<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SiteMode" value="false" />
    <add key="DemoProduct" value="ASPxperience.FileManagerAndUpload" />
  </appSettings>
  <connectionStrings>
    <add name="ncpDbConnectionString" connectionString="Data Source=192.168.1.197;Initial Catalog=ncpdb;User ID=sa;Password=AAaa123*" providerName="System.Data.SqlClient" />   
    <!--<add name="TunaRunConnectionString" connectionString="Data Source=(local);Initial Catalog=TUNARUN.test;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="oeeDbConnectionString" connectionString="Data Source=(local);Initial Catalog=OEEDb;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="NorthwindConnectionString" connectionString="Data Source=(local);Initial Catalog=Northwind;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
  <!--<webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>-->
    <customErrors mode="RemoteOnly" defaultRedirect="Error500.aspx">
      <error statusCode="404" redirect="Error404.aspx" />
      <error statusCode="500" redirect="Error500.aspx" />
    </customErrors>
    <globalization culture="en-US" uiCulture="en-US" />
    <pages validateRequest="false">
      <controls>
        <add src="~/UserControls/Common/HeaderMenu.ascx" tagName="HeaderMenu" tagPrefix="dx" />
        <add src="~/UserControls/Common/Header.ascx" tagName="Header" tagPrefix="dx" />
        <add src="~/UserControls/Common/RangeControl.ascx" tagName="FooterRangeControl" tagPrefix="uc" />
        <add src="~/UserControls/Common/Footer.ascx" tagName="Footer" tagPrefix="dx" />
        <add src="~/UserControls/EditForms/login.ascx" tagName="login" tagPrefix="uc" />
        <add src="~/UserControls/ActionToolbar.ascx" tagName="ActionToolbar" tagPrefix="dx" />
        <add src="~/UserControls/NavigationToolbar.ascx" tagName="NavigationToolbar" tagPrefix="dx" />
        <add src="~/UserControls/Menu/FullWidthSubMenuProductsSubMenu.ascx" tagName="FullWidthSubMenuProductsSubMenu" tagPrefix="uc"/>
        <add src="~/UserControls/EditForms/ReportForm.ascx" tagName="EntryEditForm" tagPrefix="uc" />
        <add src="~/UserControls/EditForms/setupEditForm.ascx" tagName="setupEditForm" tagPrefix="dx" />
        <add src="~/UserControls/EditForms/transEditForm.ascx" tagName="transEditForm" tagPrefix="uc" />
        <add src="~/UserControls/EditForms/countEditForm.ascx" tagName="countEditForm" tagPrefix="dx" />
        <add src="~/UserControls/UploadedFilesContainer.ascx" tagName="UploadedFilesContainer" tagPrefix="dx" />
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSpreadsheet" assembly="DevExpress.Web.ASPxSpreadsheet.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList" assembly="DevExpress.Web.ASPxTreeList.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
      </controls>
    </pages>
    <siteMap>
      <providers>
        <add name="MenuSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/Menu/Menu.sitemap" />
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxSpreadsheet.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.CodeParser.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v19.2.Core, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />        
        <add assembly="DevExpress.Data.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="30720" />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
        <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="500" />
      <remove statusCode="404" />
      <error statusCode="404" path="Error404.aspx" responseMode="Redirect" />
      <error statusCode="500" path="Error500.aspx" responseMode="Redirect" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" />
    <errors callbackErrorRedirectUrl="" />
    <settings rightToLeft="false" doctypeMode="Html5" ieCompatibilityVersion="edge" />
  </devExpress>
</configuration>
